.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Order {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:red
    
}
.li {
    list-style: none;
    font-size: 8px
}

.page {
    width: 100vw!important;
    height: 100vh!important;
    position: fixed!important;
    bottom: -347px!important;
}

.page button {
    color: #fff;
    background-color: #6161618e;
   outline: none;
   border: none;
}

.back{
    border-radius: 129px 0px 0px 129px;;
}
.next{
    border-radius: 0px 129px 129px 0px;;;
}
.pag{
    color: #fff;
}