.landing {
    background-image: url(./Game.jpg);
    background-size: cover;
    height: 24rem;
}
.nav {
   
  }
  
  @keyframes logo {
    50% {
      width: 700px;
      height: 300px;
    }
  
    50% {
      width: 600px;
      height: 200px;
    }
  }