.navbar {
    display: flex;
    flex-direction: row;
    height: 23px;
    background: #1b6f83;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
}
.nav {
    text-decoration: none;
    color: white;
}

.logo{
    width: 21px;
}